.card {
    padding: 0px;
    border: 0ch;
    background: lightgrey;
    border-radius: 90px 90px 20px 20px;
}

.card-body {
    padding: 10px;
}



.card-img-top {
    background-image: "https://img-aws.ehowcdn.com/877x500p/photos.demandstudios.com/getty/article/223/140/177756677.jpg";
    border-radius: 90px 90px 20px 20px;
}

h3 {
    text-align: center;
}