html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: black;
}

img {
  position: absolute;
  z-index: 999;
  height: 100%;
  
}

#pac-man {
  cursor: pointer;
  z-index: 999;
  position: absolute;
  top: 45.5%;
  width: 0px;
  height: 0px;
  border-right: 12px solid transparent;
  border-top: 12px solid yellow;
  border-left: 12px solid yellow;
  border-bottom: 12px solid yellow;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  animation: bite 0.5s infinite;
}

#pac-man.run {
  animation: bite 0.5s infinite, run-maze 4s infinite;
}

@keyframes run-maze {
    
    0% { 
        transform: translate(0, 0);
    }

    10% { 
        transform: translate(230px, 0);
    }

    20% {
        transform: translate(230px, 0) rotate(-90deg) ;
    }

    30% {
        transform: translate(230px, -210px) rotate(-90deg) ;
    }
    
    40% {
        transform: translate(230px, -210px) rotate(0) ;
    }
  
    60% {
        transform: translate(760px, -210px) rotate(0) ;
    }
      
    70% {
        transform: translate(760px, -210px) rotate(90deg) ;
    }
          
    80% {
        transform: translate(760px, 0) rotate(90deg) ;
    }
              
    90% {
        transform: translate(760px, 0) rotate(0) ;
    }
          
    100% {
        transform: translate(1000px, 0) rotate(90deg) ;
    }
}

@keyframes bite {
  50% {
    border-right: 12px solid transparent;
    border-top: 12px solid yellow;
    border-left: 12px solid yellow;
    border-bottom: 12px solid yellow;
  }

  51% {
    border-right: 12px solid yellow;
    border-top: 12px solid yellow;
    border-left: 12px solid yellow;
    border-bottom: 12px solid yellow;
  }

  99% {
    border-right: 12px solid yellow;
    border-top: 12px solid yellow;
    border-left: 12px solid yellow;
    border-bottom: 12px solid yellow;
  }

  100% {
    border-right: 12px solid transparent;
    border-top: 12px solid yellow;
    border-left: 12px solid yellow;
    border-bottom: 12px solid yellow;
  }

}

